Python file extension:
Python Basics Data Analytics.ipynb

|Data Types:| Description|
|-----------|------------|
| Numerical:|Integer, Float, Double, Complex, Binary|
| Character:|String/Object|
| Boollean: |True/False, 1/0|


Data Structures:
- List
- Dictionary
- Tuple
- Set
- Array (NumPy)
- Series (Pandas)
- DataFrame (Pandas)

Libraries:
- NumPy (Numerical Calculations)
- Pandas (For data arranged in table)
- Matplotlib (Visualization)
- Seaborn (Visualization)
- Scikit Learn (Machine Learning)
- NLTK (Natural Language Processing)
- Tensorflow/Keras (Deep Learning)
- Stats (For statistics)


| Item         | Price | # In stock |
|--------------|:-----:|-----------:|
| Apples       |  1.99 |        739 |
| Bananas      |  1.89 |          6 |


## Usage of brackets

- Box Bracket [] : To create a list, or to access any value from a list, tuple, dataframe, array, series or a key from a dictionary, after loc & iloc function in a dataframe

- Curve Bracket () : All the functions except loc & iloc are followed by curve bracket.

- Flower bracket {} : To create a dictionary or a set data structure

# Creating Objects

In [ ]:
a=9

In [ ]:
a

In [ ]:
#Object & Variable

In [ ]:
#Creating an object
a=5
print(a)
b=3
b

In [ ]:
a=5
a
b=3
b

In [ ]:
a=5
print(a)
b=3
print(b)
c=6
print(c)
c

In [ ]:
a=5
A=2
print(A)
print(a)

In [ ]:
a=5
print(a)
b=3
print(b)
b=8
A=2
b

In [ ]:
b=3
print(b)

In [ ]:
b=4
b

In [ ]:
b

In [ ]:
Python=4
PYTHON=5
python=6

print(Python)
print(PYTHON)
print(python)
pYthon

In [ ]:
#id() gives the location number of an object in Python memory
A=4
print(id(A))
A

In [ ]:
del(A)
A

Data Types

- Integer 
- String
- Float
- Boollean
- Complex
- Object

In [ ]:
b='Python'
print(b)
type(b)

In [ ]:
b=5
type(b)

In [ ]:
b=5.6
type(b)

In [ ]:
a=[1,2,3,4,5]
b=6 in a
c=5 in a
print(b)
print(c)
print(type(c))
type(b)

In [ ]:
b=True
c='TRUE'
d='True'
print(type(b))
print(type(c))
print(type(d))
a= False
print(type(a))

In [ ]:
a='+91'
b='8435815151'
a+' '+b
print(a+b)

In [ ]:
a = 5
print(type(a))
type(a)

In [ ]:
b=4.2
print(b)
print(type(b))

In [ ]:
a = 2.0
print(type(a))
print(a)

In [ ]:
b=7
print(b)
print(id(b))
b=8
print(b)
print(id(b))
print(type(b))
a=b+b
a

In [ ]:
a = 1+2j
type(a)

In [ ]:
a = "Python"
print(type(a))
#ID Function is used to return the identity of an object
#This identity has to be unique and constant for this object.
#They are actually the memory address, here in Python it is the unique id. 
#This function is generally used internally in Python.
print(id(a))
print(a)

In [ ]:
DS=5
print(DS)
Python=10
print(Python)

DS='Python'
print(DS)
DS=Python
print(DS)

In [ ]:
a = 15
print(id(a))
type(a)

In [ ]:
a=15
print(a)
del(a)
print(a)

# Data Structures
- List
- Tuples
- Dictionary
- Set
- Dataframe (Pandas)
- Array (Numpy)
- Series (Pandas)

# List

In [ ]:
list1 = ['Python', 'Java', 2013, 2018,[1,2,3,4], 54.3, 89.2, 8+5j, 3+4j,True,False]

In [ ]:
list1

In [ ]:
print(list1)

In [ ]:
list1[3]

In [ ]:
list1[0]

In [ ]:
list1[7]

In [ ]:
list1[10]

In [ ]:
list1[4][1]

In [ ]:
list2=[1,51,9,8,1,201,534,4,[8,4,101,2,[5,4,891,91,6,3,4],3,600],[8,9,685,5,4,1,[72,808,52]]]

In [ ]:
print(list2[8][2])
list2[8][2]=201
print(list2)

In [ ]:
list1 = ['Python', 'Python', 2013, 2018,[1,2,3,['c','d',9],4]]

In [ ]:
list1 = [1, 2, 3, 4, 5]                  
print(id(list1))
print(list1)
list1[3] = 257
print(list1)
print(id(list1))

In [ ]:
list3 = ["a", "b", "c", "d",'s"]

In [ ]:
#Always use either single quotes, or double quotes to enclose a string.
#If started with single quote, end with single only
#If started with double quote, end with double only
a = ["a", "b", "c", "d","s"]
a

In [ ]:
a=1
print(id(a))
a=2
print(id(a))

In [ ]:
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print(list2)
list2[3] = "Python"
print(list2)

In [ ]:
list1 =["Neha"]
print(id(list1))

In [ ]:
list1= [4,8,6,4,7,8]
list2=['Python','DS','Marketing']
list3=[3+9j,True, 1.23, False]

print(list1 + list2 +list3)

In [ ]:
print(list1)
print(list2)
print(list3)

In [ ]:
list4= list1 + list2 +list3
print(list4)
print(list1); print(list2); print(list3);

In [1]:
list1 = ['Python', 'Basics', 2013, 2018]
print(list1)

['Python', 'Basics', 2013, 2018]

In [2]:
list1.remove('Basics')
list1

['Python', 2013, 2018]

In [3]:
list1.remove(2013)
list1

['Python', 2018]

In [4]:
list1 = ['Python', 'Basics', 2013, 2018]
print(list1)
list1.remove(list1[0])
list1

['Python', 'Basics', 2013, 2018]

['Basics', 2013, 2018]

In [5]:
print(list1)
del(list1)

print(list1)

['Basics', 2013, 2018]

NameError: name 'list1' is not defined

In [6]:
# Append
aList = [123, 'xyz', 'zara', 'abc']
print(aList)
aList.append('1234')
print(aList)
aList.append(2021)
print(aList)

[123, 'xyz', 'zara', 'abc']
[123, 'xyz', 'zara', 'abc', '1234']
[123, 'xyz', 'zara', 'abc', '1234', 2021]

In [11]:
#Pop
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)
print(aList.pop())
print(aList)

[123, 2009, 'xyz', 'zara', 'abc', 1234]
1234
[123, 2009, 'xyz', 'zara', 'abc']

In [13]:
print(aList.pop())
print(aList)

zara
[123, 2009, 'xyz']

In [14]:
#Pop function with a value inside bracket will remove the element on the stated index value.
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)
print(aList.pop(2))
print(aList)

[123, 2009, 'xyz', 'zara', 'abc', 1234]
xyz
[123, 2009, 'zara', 'abc', 1234]

In [15]:
#Insert
aList=[123, 2009, 'xyz', 'zara', 'abc', 1234]
print(aList)
aList.insert(1, 2022)
print(aList)

[123, 2009, 'xyz', 'zara', 'abc', 1234]
[123, 2022, 2009, 'xyz', 'zara', 'abc', 1234]

In [16]:
aList.insert(3,"Neha")
print(aList)

[123, 2022, 2009, 'Neha', 'xyz', 'zara', 'abc', 1234]

In [20]:
#Extend
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
print(aList)
print(bList)

[123, 'xyz', 'tommy', 'abc', 123]
[2009, 'beneli']

In [21]:
print(aList)
aList.extend(bList)
print(aList)
print(bList)

[123, 'xyz', 'tommy', 'abc', 123]
[123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli']
[2009, 'beneli']

In [22]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']

print(bList)
bList.extend(aList)
print(bList)
print(aList)

[2009, 'beneli']
[2009, 'beneli', 123, 'xyz', 'tommy', 'abc', 123]
[123, 'xyz', 'tommy', 'abc', 123]

In [ ]:
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
print(bList.extend(aList))

In [23]:
#Reverse
aList = [123, 'xyz', 'tommy', 'abc', 123,'Hi',56]
print(aList)
aList.reverse()
print(aList)

[123, 'xyz', 'tommy', 'abc', 123, 'Hi', 56]
[56, 'Hi', 123, 'abc', 'tommy', 'xyz', 123]

In [28]:
#Cannot sort a list having multiple data types
aList = [123, 'xyz', 'tommy', 'abc', 123,'Hi',56]
aList.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
#Sort
bList = [8,99,45,33,96,52,47,14,45]
print(bList)
bList.sort(reverse = False)
bList

[8, 99, 45, 33, 96, 52, 47, 14, 45]

[8, 14, 33, 45, 45, 47, 52, 96, 99]

In [25]:
bList = [8,99,45,33,96,52,47,14,45]
print(bList)
bList.sort(reverse = True)
print(bList)

[8, 99, 45, 33, 96, 52, 47, 14, 45]
[99, 96, 52, 47, 45, 45, 33, 14, 8]

In [29]:
bList = [8, 99, 45, 33, 96, 52, 47, 14]
bList.sort()
bList

[8, 14, 33, 45, 47, 52, 96, 99]

In [33]:
#count
#To get the count of a specific element inside a list
aList = [123, 'xyz', 'zara', 'abc', 123, "zara",123]
aList.count(123)

3

In [31]:
aList.count('xyz')

1

In [32]:
aList.count("zara")

2

In [34]:
#To count the number of elements in a list, length
print(aList)
len(aList)

[123, 'xyz', 'zara', 'abc', 123, 'zara', 123]

7

In [35]:
Empty_List=[]
Empty_List

[]

In [ ]:
print(id(Empty_List))

In [37]:
range(8)

range(0, 8)

In [38]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#List is an iterable data structure
a=list(range(8))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]

In [39]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [40]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7

In [45]:
list1=[1,2,3,4,5,6,7,8,9,10]

for m in list1:
    print(m*m)

1
4
9
16
25
36
49
64
81
100

In [42]:
aList = [123, 'xyz', 'zara', 'abc', 123, "zara"]

In [43]:
#Index
# Gives the index value of the first instance of an element in the list.
aList.index('zara')

2

In [44]:
aList.index('abc')

3

In [46]:
print(aList)
bList=aList.copy()
print(bList)

[123, 'xyz', 'zara', 'abc', 123, 'zara']
[123, 'xyz', 'zara', 'abc', 123, 'zara']

In [47]:
#Clear
print(aList)
aList.clear()
print(aList)

[123, 'xyz', 'zara', 'abc', 123, 'zara']
[]

In [51]:
aList=[123, 'xyz', 'zara', 'abc', 123, 'zara']
print(aList)
bList=aList[0:3]
bList

[123, 'xyz', 'zara', 'abc', 123, 'zara']

[123, 'xyz', 'zara']

In [53]:
a=[1,2,3]
b=a
print(b)
print(a)

[1, 2, 3]
[1, 2, 3]

In [55]:
print(id(a))
print(id(b))

1988206221888
1988206221888

In [57]:
b=a.copy()
print(id(a))
print(id(b))

1988206221888
1988205053120

In [ ]:
#Membership in list
#Is the element present in the list?
print(3 in [1,2,3])
print(5 in [1,2,3])

In [ ]:
#Is the element '8' present in the list 'a' or not? 
#Is '8' a member of 'a' or not
a=[2,5,8,9,6,4,7]
8 in a

In [ ]:
10 in a

In [ ]:
a[3] is 9

In [ ]:
#Is '9' the 3rd index value in 'a'?
a[3]==9

In [ ]:
#Is '9' not in a?
9 not in a

In [ ]:
#Is the value at index 2 not equal to value at index 3?
a[2]!=a[3]

In [ ]:
a=range(50)
b=list(a)
print(b)

- !=  Not equal to
- == Equal to

In [ ]:
# Write a code to create a list with cubes of first 30 natural numbers.

In [ ]:
alist=range(31*3)
b =list(alist)
print(b,end='')

In [ ]:
for i in range(1,31):
    print(i*i*i, end=' ')

In [ ]:
alist=range(11)
print(alist)
for i in alist:
    print(i*i/2)

In [ ]:
#find the square of the first 10 multiples of 4
x=range(1,11)
x=list(x)
print(x)
mult_4=[]
sq_mult_4=[]
for i in x:
    a=4*i
    b=(4*i)*(4*i)
    mult_4.append(a)
    sq_mult_4.append(b)

print(mult_4) 
print(sq_mult_4)

In [ ]:
x=[2,6,4,5,1,2,5,7,8,9,5,4,2]

div_2=[]

for i in x:
    if i%2==0:
        div_2.append(i)
        
print(div_2)

# Tuples

In [1]:
## Create a tuple dataset
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [2]:
print(tup1)
tup1

('Street triple', 'Detona', 'Beneli', 8055)

('Street triple', 'Detona', 'Beneli', 8055)

In [3]:
tup2

(1, 2, 3, 4, 5)

In [4]:
tup3

('a', 'b', 'c', 'd')

In [5]:
### Create a empty tuple
tup4 = ()

In [6]:
tup4=()
id(tup4)

1950762991680

In [7]:
#Create a single tuple
tup1 = (50,)
tup1

(50,)

In [8]:
tup1 = (50)
tup1

50

In [9]:
type(tup1)

int

In [10]:
#Accessing Values in Tuples
tup1 = ('Street triple','Detona','Beneli', 8055)
print(tup1)
print(tup1[0])
print(tup1[2])

('Street triple', 'Detona', 'Beneli', 8055)
Street triple
Beneli

In [11]:
#Tuple is immutable, hence we cannot replace a value in tuple
tup2 = (1, 2, 3, 4, 5, 6, 7 )
tup2[2] = 14

TypeError: 'tuple' object does not support item assignment

In [14]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2)
print(tup2[1:6])
#tup2[0:6]
#tup2[1:5]

(1, 2, 3, 4, 5, 6, 7)
(2, 3, 4, 5, 6)

In [15]:
print(tup2)
tup2[1:3]

(1, 2, 3, 4, 5, 6, 7)

(2, 3)

In [16]:
tup2.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [17]:
#Updating Tuples
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup1)
print(tup2)
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
print(tup1)
print(tup2)

('Street triple', 'Detona', 'Beneli', 8055)
(1, 2, 3, 4, 5, 6, 7)
(12, 34.56)
('abc', 'xyz')

In [18]:
# So,create a new tuple as follows
print(tup1)
print(tup2)
tup3 = tup1 + tup2
print(tup3)

(12, 34.56)
('abc', 'xyz')
(12, 34.56, 'abc', 'xyz')

In [19]:
#Delete Tuple 
tup = ('Street triple','Detona','Beneli', 8055)
print(tup)

('Street triple', 'Detona', 'Beneli', 8055)

In [20]:
del(tup)
print(tup)

NameError: name 'tup' is not defined

In [ ]:
print("After deleting tup : ")
print(tup)

In [21]:
#Basic Tuples Operations

#To know length of the tuple
tup = (1,2,3,'Basics','Python',8,5)
len(tup)

7

In [26]:
tup3 = (1, 2, 3, 4, 5, 6, 7)
print(tup3)
tuple_repeat=tup3*4
print(tuple_repeat, end= ' ')

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [28]:
print(tuple_repeat, end= ' ')

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [25]:
print(tup3*4)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [23]:
tup4 = ('Hi!',)
tup4*5

('Hi!', 'Hi!', 'Hi!', 'Hi!', 'Hi!')

In [29]:
# Max and min in tuple
tuple1 = (456, 700, 200,58)
print(max(tuple1))
print(min(tuple1))

700
58

In [30]:
tuple1 = ('c', 'k', 'w','z')
print(max(tuple1))
print(min(tuple1))

z
c

# Dictionary

In [35]:
#Create a Dictionary
a = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
a

{'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa', 'Marks': 25}

In [32]:
type(a)

dict

In [37]:
dict1 = {'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa','Marks':25}
dict1

{'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa', 'Marks': 25}

In [33]:
dict(range(9))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [38]:
print(dict1)
#Accessing Values in Dictionary
print(dict1['Name'])
print(dict1['Age'])
print(dict1['Bike'])
print(dict1['Marks'])

{'Name': 'Nisha', 'Age': 25, 'Bike': 'Activa', 'Marks': 25}
Nisha
25
Activa
25

In [ ]:
dict1[0]

In [39]:
dict1 = {'DOB': '21/01/1998', 'Sex': 'Female', 'Education': 'UG', 'Work Exp' : 'Nil', 'Nationality':'Indian'}
dict1

{'DOB': '21/01/1998',
 'Sex': 'Female',
 'Education': 'UG',
 'Work Exp': 'Nil',
 'Nationality': 'Indian'}

In [41]:
dict1['Area']='Jayanagar'
dict1['Hair Color']='Brown'
dict1

{'DOB': '21/01/1998',
 'Sex': 'Female',
 'Education': 'UG',
 'Work Exp': 'Nil',
 'Nationality': 'Indian',
 'Area': 'Jayanagar',
 'Hair Color': 'Brown'}

In [42]:
dict1.keys()

dict_keys(['DOB', 'Sex', 'Education', 'Work Exp', 'Nationality', 'Area', 'Hair Color'])

In [43]:
dict1.values()

dict_values(['21/01/1998', 'Female', 'UG', 'Nil', 'Indian', 'Jayanagar', 'Brown'])

In [44]:
##Updating Dictionary
dict1 = {'Name': 'Vinod', 'Age': 25, 'Bike': 'Beneli'}
print(dict1)
# update existing entry
dict1['Age'] = 8 
print(dict1)

{'Name': 'Vinod', 'Age': 25, 'Bike': 'Beneli'}
{'Name': 'Vinod', 'Age': 8, 'Bike': 'Beneli'}

In [45]:
dict1['Name']='Neha'
dict1['Bike']='Activa'
print(dict1)

{'Name': 'Neha', 'Age': 8, 'Bike': 'Activa'}

In [46]:
#Adding additional key
dict1['Qualification']='MBA'
dict1['Place']='Goa'

print(dict1)

{'Name': 'Neha', 'Age': 8, 'Bike': 'Activa', 'Qualification': 'MBA', 'Place': 'Goa'}

In [47]:
Dict_Mult={'List1':[1,2,3],'List2':[4,5,6],'List3':[7,8,9]}
print(Dict_Mult['List1'])
print(Dict_Mult['List2'])
print(Dict_Mult['List3'])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
Dict_Mult

In [48]:
Dict_Mult['List2'][2]

6

In [49]:
Dict_Mult['List3'][2]

9

In [50]:
Dict_Mult.keys()

dict_keys(['List1', 'List2', 'List3'])

In [51]:
Dict_Mult.values()

dict_values([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [52]:
for i in Dict_Mult.values():
    print(i[0])

1
4
7

In [53]:
# Remove entry with key 'Age'
dict1={'Name': 'Neha', 'Bike': 'Activa', 'Qualification': 'MBA', 'Place': 'Goa','Height':5.6}
print(dict1)
del(dict1['Place'])
print(dict1)
del(dict1['Bike'])
print(dict1)

{'Name': 'Neha', 'Bike': 'Activa', 'Qualification': 'MBA', 'Place': 'Goa', 'Height': 5.6}
{'Name': 'Neha', 'Bike': 'Activa', 'Qualification': 'MBA', 'Height': 5.6}
{'Name': 'Neha', 'Qualification': 'MBA', 'Height': 5.6}

In [54]:
# Remove all entries in dict1
print(dict1)
dict1.clear() 
dict1

{'Name': 'Neha', 'Qualification': 'MBA', 'Height': 5.6}

{}

In [ ]:
# delete entire dictionary
print(dict1)
del(dict1)     
print(dict1)

In [ ]:
import pandas as pd
dict1={'Name': ['Neha','Saran','Sriram','Shabarish','Rahul','Yukta','Prithviraj','Umesh','Vishwas','Charan'], 'Gender': ['F','M','M','M','M','F','M','M','M','M'],'Age':[5,7,4,2,5,6,3,5,8,5]}
df=pd.DataFrame(dict1)
df

In [ ]:
Dict_Mult={'List1':[1,2,3],'List2':[4,5,6],'List3':[7,8,9]}
#df=pd.DataFrame(Dict_Mult,index=[1,2,3])
#df

df=pd.Series(Dict_Mult)
df

In [ ]:
dict1 = {'Name':'Biswajit','Height':5.10,'Bike':'BMW','Car':'Audi','Sports':'Cricket','Place':'Goa'}
print(dict1.keys())
print(dict1.values())

for x in dict1.values():
    print(x)

print('----------------')

for x in dict1.keys():
    print(x)

In [ ]:
dict1.items()

In [ ]:
for x, y in dict1.items():
    print(x, y)

In [55]:
vehicle_details= {'car_names': ['Verna', 'Swift', 'Baleno', 'i20', 'BMW'],
                   'rates': [80000, 50000, 60000, 75000, 49500],
                   'owner_name': ['vishal', 'praveen', 'sangmesh', 'kiran', 'radhika']}
vehicle_details

{'car_names': ['Verna', 'Swift', 'Baleno', 'i20', 'BMW'],
 'rates': [80000, 50000, 60000, 75000, 49500],
 'owner_name': ['vishal', 'praveen', 'sangmesh', 'kiran', 'radhika']}

In [56]:
print(vehicle_details)
vehicle_details['rates'][3]=95000
print(vehicle_details)

{'car_names': ['Verna', 'Swift', 'Baleno', 'i20', 'BMW'], 'rates': [80000, 50000, 60000, 75000, 49500], 'owner_name': ['vishal', 'praveen', 'sangmesh', 'kiran', 'radhika']}
{'car_names': ['Verna', 'Swift', 'Baleno', 'i20', 'BMW'], 'rates': [80000, 50000, 60000, 95000, 49500], 'owner_name': ['vishal', 'praveen', 'sangmesh', 'kiran', 'radhika']}

In [57]:
dict5={'Phone':['Iphone','poco','realme','honor','oppo'],
       'cost':[100000, 80000, 40000, 30000, 20000],
       'Model':['Iphone13pro', 'Poco X3 pro', 'realme 8i', 'Honor9', 'OPPO F19'],
       'Customer':['Ambika', 'Radhika', 'preeti', 'Vinod', 'Annarao'],
       'Delivery dates':['16 sept 2021', '22 sept 2021', '25 sept 2021', '29 sept 2021', '30 sept 2021']}
dict5

{'Phone': ['Iphone', 'poco', 'realme', 'honor', 'oppo'],
 'cost': [100000, 80000, 40000, 30000, 20000],
 'Model': ['Iphone13pro', 'Poco X3 pro', 'realme 8i', 'Honor9', 'OPPO F19'],
 'Customer': ['Ambika', 'Radhika', 'preeti', 'Vinod', 'Annarao'],
 'Delivery dates': ['16 sept 2021',
  '22 sept 2021',
  '25 sept 2021',
  '29 sept 2021',
  '30 sept 2021']}

# Sets

- Sets are mutable unordered sequence of unique elements 
- Sets are constructed from a sequence (or some other iterable object). 
- Since sets cannot have duplicated items, they are usually used to build sequence of unique items (e.g. set of identifiers).

In [1]:
animals={'dog','cat','lion','tiger'}
print("first input:",animals)
animals

first input: {'tiger', 'dog', 'lion', 'cat'}

{'cat', 'dog', 'lion', 'tiger'}

In [2]:
#"dog" is repeated two times, but sets cannot keep duplicate item, so one "dog" is removed

animals1={'dog','dog','lion','tiger','cat'}
print("second input:",animals1)
animals1

second input: {'tiger', 'dog', 'cat', 'lion'}

{'cat', 'dog', 'lion', 'tiger'}

In [ ]:
id(animals1)

In [3]:
#Creating a Set A set is created by using the set() function or placing all the elements within a pair of curly braces.

Days=["Mon","Mon","Tue","Wed","Wed","Thu","Fri","Sat","Sun","Sun"]
print(Days)
Days1=set(Days)
print(Days1)
Days2=list(Days1)
print(Days2)

['Mon', 'Mon', 'Tue', 'Wed', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Sun']
{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}
['Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu']

In [4]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [ ]:
Weekdays=set(['Wed', 'Sun', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])
Months=set(['Jan', 'Mar', 'Feb'])
Dates=set([17, 21, 22])
print(Weekdays)
print(Months)
print(Dates)

In [5]:
a=list({'Sun', 'Mon', 'Wed', 'Tue', 'Fri', 'Sat', 'Thu'})
a

['Fri', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed', 'Mon']

In [8]:
b=[5,6,7,4,2,3,1]
dict(a:b)

SyntaxError: invalid syntax (<ipython-input-8-7534b457e851>, line 2)

In [9]:
#Accessing Values in a Set 
#We cannot access individual values in a set. 
#We can only access all the elements together.

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(Days) 
for d in Days:
    print(d, end=' ')

{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}
Fri Sat Sun Mon Tue Wed Thu

In [11]:
for d in Days:
    print(d)

Fri
Sat
Sun
Mon
Tue
Wed
Thu

In [12]:
Days[0]

TypeError: 'set' object is not subscriptable

In [13]:
#Adding Items to a Set We can add elements to a set by using add() method. Again as discussed there is no specific index attached to the newly added element.

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
print(Days)
Days.add("Sun")
print(Days)

{'Fri', 'Sat', 'Mon', 'Tue', 'Wed', 'Thu'}
{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}

In [14]:
print(Days)
Days.add("Mon")
print(Days)

{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}
{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}

In [15]:
#Removing Item from a Set We can remove elements from a set by using discard() method. Again as discussed there is no specific index attached to the newly added element.

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(Days) 
Days.discard("Mon")
print(Days)

{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}
{'Fri', 'Sat', 'Sun', 'Tue', 'Wed', 'Thu'}

In [16]:
#Union of Sets The union operation on two sets produces a new set containing all the distinct elements from both the sets. the below example the element Wed is present in both the sets.

DaysA = set(["Mon","Tue","Wed","Thu","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu'}

In [17]:
#Intersection of Sets The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element Wed is present in both the sets.

DaysA = set(["Mon","Tue","Wed","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Sat', 'Wed'}

In [18]:
#Symmetrical Difference - All elements from DaysA & DaysB except the common elements.
DaysA = set(["Mon","Tue","Wed","Sat"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA^DaysB
print(AllDays)

{'Fri', 'Tue', 'Sun', 'Mon', 'Thu'}

In [19]:
#Difference of Sets The difference operation on two sets produces a new set containing only the elements from the first set and none from the second set. In the below example the element Wed is present in both the sets so it will not be found in the result set.

DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)
AllDays = DaysB - DaysA
print(AllDays)

{'Tue', 'Mon'}
{'Sat', 'Sun', 'Fri', 'Thu'}

## Super Set & Sub Set

In [23]:
#Compare Sets We can check if a given set is a subset or superset of another set. 
#The result is True or False depending on the elements present in the sets.
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(DaysA < DaysB)
print(DaysA > DaysB)

True
False

In [26]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed"])
print(DaysA <= DaysB)
print(DaysA >= DaysB)

True
True

In [24]:
SetA={'A','B','C','D','E','F','G'}
SetB={'B','D','G'}
SetC={'A','B','I'}

SetA>=SetC

False

In [ ]:
SetA>=SetB

In [ ]:
#Is setB a subset of setA?
SetB<SetA

In [ ]:
print(SetA >= SetB)

In [ ]:
print(SetA <= SetB)

In [ ]:
a={1,2,4,5,9,6}
b={3,7,8,1,2,9}
c={1,9}

In [ ]:
print("OR function in set:",a|b)
#"OR" combines all the element and takes unique value of combined element

In [ ]:
print("AND function in set:",a&b)
#"AND" picks all the elements which are common in both the sets

In [ ]:
print("Subset function in set:",a<b)
print("Subset function in set:",c<b)
#"<" function looks if all the elements of "a" is present in "b"

In [ ]:
a={1,2,4,5,9,6}
b={3,7,8,1,2,9}
c={1,9}

print("Symmetric difference function in set:",a^b)
#"^" function combines all the element & removes all the common elements

In [ ]:
#Sets are iterable

animals={'dog','cat','lion','tiger'}
print(animals)

In [ ]:
i='cat' in animals
print("cat in animals:",i)
j='crow' in animals
print("crow in animals:",j)

In [ ]:
#'animals' contain lion, cat, dog & tiger.
#Since 'cat' is in 'animals' set, the statement is true.
#But 'crow' is not part of 'animals' set, so output is false.

In [27]:
a={'independence'}
print(a)
a=set('independence')
print(a)

{'independence'}
{'d', 'i', 'e', 'p', 'n', 'c'}

In [28]:
c=set(12345)
print(c)

TypeError: 'int' object is not iterable

In [ ]:
#Set always gives non-duplicate set of elements
a=set('abracadabra')
b=set('alacazam')
print("Set a is", a)
print("Set b is", b)
print(a)
print(b)

In [ ]:
a={'c', 'b', 'a', 'r', 'd'}
print(a)
a={'abcb'}
print(a)

In [ ]:
#Letters in a but not in b
a=set('abracadabra')
b=set('alacazam')
c=a-b
print("Letters in a but not in b",c)

In [ ]:
#Letters in either a or b
d=a|b
print("Letters in either a or b",d)
Letters in either a or b {'c', 'z', 'b', 'a', 'm', 'r', 'l', 'd'}

In [ ]:
#Letters in both a and b
e=a&b
print("Letters in both a and b",e)

In [ ]:
#Letters in a or b but not both
f=a^b
print("Letters in a or b but not both",f)

In [ ]:
#Letters in a but not in b
c=a-b
print("Letters in a but not in b",c)
#Letters in either a or b
d=a|b
print("Letters in either a or b",d)
#Letters in both a and b
e=a&b
print("Letters in both a and b",e)
#Letters in a or b but not both
f=a^b
print("Letters in a or b but not both",f)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# importing data set using pandas
cars = pd.read_csv("D:\\ALL DATA SCIENCE\\Learn Digital\\mtcars.csv")

In [ ]:
cars

In [ ]:
#To see the type of the data structure
type(cars)

In [ ]:
#Displays the first 5 rows in a dataframe. That is the default setting.
cars.head()

In [ ]:
#We can customize this by giving a value in the function. 
#Displays the first 10 rows in a dataframe
cars.head(10)

In [ ]:
#Displays the last 5 rows in a dataframe. That is the default setting.
cars.tail()

In [ ]:
#We can customize this by giving a value in the function. 
#Displays the last 15 rows in a dataframe
cars.tail(15)

In [ ]:
print(cars.head(10))
cars.loc[[4,7],["disp","qsec"]]

In [ ]:
cars.loc[[10,11,12,13,14,15],["mpg","cyl","gear"]]
#cars.loc[[10:15],["mpg","cyl","gear"]]

In [ ]:
cars.iloc[10:15,:4]

In [ ]:
cars.mean()

In [ ]:
cars.skew()

In [ ]:
cars["mpg"].skew()

In [ ]:
cars.kurt()

In [ ]:
cars["qsec"].kurt()

In [ ]:
#range(5)

x1 = [1,  2, 3, 4, 5] # list format 
x2 = [10, 11, 12,100,11]  # list format 
x3 = list(range(5)) #0,1,2,3,4

In [ ]:
print(x1)
print(x2)
print(x3)

In [ ]:
# Creating a data frame using explicits lists
X = pd.DataFrame(columns = ["X1","X2","X3"]) 
X

In [ ]:
#X.X1 or X["X1"]

#list -> Series -> Dataframe

#series - single column DF
#DF - More than one column in DF

In [ ]:
X["X1"] = pd.Series(x1)  # Converting list format into pandas series format
X["X2"] = pd.Series(x2) # Converting list format into pandas series format
X["X3"] = pd.Series(x3)

X

In [ ]:
cars['mpg']

In [ ]:
cars[['mpg','cyl','gear']]

In [ ]:
X

In [ ]:
X.iloc[2:5,:]

In [ ]:
X.iloc[2:4,1:3]

# index values
X.iloc[0:3,1]  #0,1,2-rows of 1st column

X.iloc[:,[1,2]] #0,1,2 rows of 0 and 1 columns

X.iloc[:,:] # to get entire data frame

In [ ]:
X["X1"] = x1 # Converting list format into pandas series format
X["X2"] = x2 # Converting list format into pandas series format
X["X3"] = x3














# accessing columns using "." (dot) operation
X.X1
# accessing columns alternative way
X["X1"]

# Accessing multiple columns : giving column names as input in list format
variable = X[["X1","X2"]]
variable

X[["X1","X2","X3"]]

# Accessing elements using ".iloc" and loc : accessing each cell by row and column 

#iloc - integer location
#loc - string location

X



X.loc[1:3,"X3"]
X.loc[1:3,["X1","X3"]]

X.loc[[1,3,4],["X1","X2"]]

X.loc[0:3,["X1","X2"]] #0,1,2

# checking the type of variable 
type(X.X1) # pandas series object

type(X)

# to create a data frame 
type(X.X2)
type(X["X2"])

df = pd.DataFrame(columns=["A","B","C"])

# np.random.randint(a,b,c) 
# a - > starting number
# b - > Ending number
# c - > no. of numbers to be generated 


df["A"] = pd.Series(list(np.random.randint(1,100,50)))   #randint - random integers
df["B"] = pd.Series(list(np.random.choice([0,1],size = 55))) #first
df["C"] = 15

df

In [ ]:
#To generate summary statistics
cars.describe()

In [ ]:
#Importing the data in a csv file into a dataframe in Anaconda environment

df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [ ]:
df

In [ ]:
df['rank'].value_counts()

In [ ]:
df['discipline'].value_counts()

In [ ]:
df['sex'].value_counts()

In [ ]:
#To display the column names in a dataframe
df.columns

In [ ]:
cars.columns

In [ ]:
cars.dtypes

In [ ]:
df.dtypes

In [ ]:
# Graphical Representation of data
import matplotlib.pyplot as plt

In [ ]:
# Histogram
plt.hist(cars['mpg']) # left skew

In [ ]:
#Boxplot
help(plt.boxplot)

In [ ]:
plt.boxplot(cars)

In [ ]:
plt.boxplot(cars["mpg"],vert = False)

In [ ]:
plt.boxplot(cars['mpg'],vert =False);
plt.ylabel("mpg")
plt.xlabel("Boxplot")
plt.title("Boxplot")  # for vertical

In [ ]:
plt.boxplot(cars['mpg'],vert =True);
plt.ylabel("mpg")
plt.xlabel("Boxplot")
plt.title("Boxplot")  # for vertical

In [ ]:
plt.boxplot(cars['disp'],1,'rs',1)# For Horizontal

In [ ]:
# Barplot
# bar plot we need height i.e value of each data
# left - for starting point of each bar plot of data on X-axis(Horizontal axis). Here data is mba['gmat']
index = np.arange(773) # np.arange(a)  = > creates consecutive numbers from 
# 0 to 772

In [ ]:
index

In [ ]:
help(plt.bar)

In [ ]:
data = {'C':20, 'C++':15, 'Java':30,'Python':35}
courses = list(data.keys())
values = list(data.values()) 
print(courses)
print(values)

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(courses, values, color ='maroon',width = 0.4)
 
plt.xlabel("Courses offered")
plt.ylabel("No. of students enrolled")
plt.title("Students enrolled in different courses")
plt.show()

In [ ]:
# dimensions of data frame 
cars.shape

In [ ]:
cars.head(10)

In [ ]:
# table 
pd.crosstab(cars.gear,cars.cyl)      #32 rows

In [ ]:
# bar plot between 2 different categories 
pd.crosstab(cars.gear,cars.cyl).plot(kind="bar")

In [ ]:
cars["gear"].value_counts()

In [ ]:
cars["cyl"].value_counts()

In [ ]:
cars["carb"].value_counts()

In [ ]:
cars.gear.value_counts().plot(kind="pie")

In [ ]:
import seaborn as sns

In [ ]:
# getting boxplot of mpg with respect to each category of gears 
sns.boxplot(x="gear",y="mpg",data=cars)

In [ ]:
sns.pairplot(cars.iloc[:,0:6]) # histogram of each column and 
# scatter plot of each variable with respect to other columns

In [ ]:
plt.scatter(cars.wt,cars.mpg)## scatter plot of two variables

In [ ]:
plt.scatter(cars.mpg,cars.qsec)

In [ ]:
plt.plot(cars.mpg,"rs-") # scatter plot of single variable

In [ ]:
plt.plot(cars.mpg,"ro-")

# Conditional Statements

In [ ]:
# If
# If the number is positive, we print an appropriate message

num = 2
if num > 0:
    print(num, "is a positive number.")

In [ ]:
num = -2
if num > 0:
    print(num, "is a positive number.")
    
print("This is always printed.")

In [ ]:
# If else:
num = -8

if (num >= 0):
    print("Positive or Zero")
else:
    print("Negative number")

In [ ]:
num=8
if num>=0:
    print("Positive/Zero")
else:
    print("Negative")

In [ ]:
## Define a function with conditional statement

def max_num(num1,num2,num3):

    if num1 >= num2 and num1 >= num3:
        return num1

    elif num2 >= num1 and num2 >= num3:
        return num2

    else:
        return num3

In [ ]:
max_num(2,5,9)

In [ ]:
#The objective of this function is to find the minimum number when user enters 3 numbers
def min_num(x,y,z):
    if x <= y and x <= z:
        return x
    elif y <= x and y <= z:
        return y
    else:
        return z

min_num(5,7,4)

Define a function which fetches the mode value/ the most frequent value from the numbers given by the user.

Create a simple if and else code, which displays if a person is eligible for voting or not, given the user's age (You can define an object first which stores the value for age, and then give your conditions.)

Define a function that displays the capital of the country as the user enters the name of the country.(Atleast 5 countries you can enter in the code for which the capitals would be displayed)

Define a function which can mention if a number is a multiple of 2.

Define a function which can tell if a particular letter entered by user is a vowel or a consonant

After this you can take a break


Now using your creativity, you can define your own function with the if and else statement
Please create any 2 functions 
and then I will move to the 'for' loop

In [ ]:
def food(x):
    if x =='Brown':
        print("It is Briyani")
    else:
        print("It is not briyani")
            
food('Orange')

In [ ]:
def vowel_consonant(l):
    l1 = l.lower()
    if l1 == 'a' or l1 == 'e' or l1 == 'i' or l1 == 'o' or  l1 == 'u':
        return "Vowel"
    else:
        return "Consonant"
vowel_consonant('Z')

In [ ]:
score_theory = 40
if(score_theory > 40):
    print("Pass")
else:
    print("Fail")

In [ ]:
def country(x):
    if x=='INDIA':
        print("The capital of INDIA is Delhi")
    elif x=='AUSTRALIA':
        print("The capital of AUSTRALIA is Canberra")
    elif x=='FRANCE':
        print("The capital of FRANCE is Paris")
    elif x=='GERMANY':
        print("The capital of GERMANY is Berlin")
    elif x=='JAPAN':
        print("The capital of JAPAN is Tokyo")
    else:
        print("Enter valid Country code")
        
country('FRANCE')

In [ ]:
list1= [21, 13, 19, 13,19,13]
list1
mode=max(list1,key=list1.count)
print(mode)

In [ ]:
a = [54,54,70,82,70,90,82]
mode=max(a,key=a.count)
print(mode)

In [ ]:
# Nested If
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

# Loops

In [ ]:
# for Loop
# for each item in sequence , till the last item reached, the loop will keep executing 

#Ex:1

snacks = ['pizza','burger','shawarma','franky']

for x in snacks:
    print("Enjoy your snack: ", x)

print("Good night!")

In [ ]:
num=[4,7,5,2,3,6,5,4,8,9,1,2]

for i in num:
    if i%2==0:
        print(i,'is even number')
    else:
        print(i,'is not even number')

In [ ]:
#Ex:2

num = int(input("number: "))
factorial =1

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):         #1,2,3,4,5,6
        factorial = factorial * i
    print("factorial =  " ,factorial)

In [ ]:
x = range(5)   #0,1,2,3,4
for i in x:
    print(i)

In [ ]:
#Nested for loop

for i in range(0,3):    #0,1,2
    for j in range(0,3):   #0,1,2
        print(i,j)

In [ ]:
########################## While Loop #############################
# Program to add natural numbers
# Enter the loop , test expression , true , body of code , if false - exit loop.
# numbers upto
# sum = 1+2+3+...+n

#To take input from the user,
n = int(input("Enter n: "))

n = 6
#1+2+3+4+5+6

# initialize sum and counter
summation = 0
i = 1

while i <= n:
    summation = summation + i
    i = i+1    # update counter

# print the sum
print("The sum is", summation)

In [ ]:
#factorial of a number
n=int(input("Enter the number:"))
count=1

while n>0:
    count=count*n
    n=n-1
    
print ("the factorial of number:",count)

In [ ]:
word=list('Python_is_great')
n=0
while n<len(word):
    print(word[n])
    n=n+1

In [ ]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

In [ ]:

# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

#Ex: 1

count = 0

while count < 20:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

#Ex: 2

In [ ]:
import random

n = 20

random_number = int(n * random.random())

guess = 0

while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

In [ ]:
# Strings
# strings are used to record textual information as well as arbitary collections of bytes.
# Accesing Value in Strings
Name = "Johnny"

print(Name)    #Johnny

print(Name[0])   #J

print(Name[3:])   #nny

print(Name[-1])  #y

print(Name[-3:-1])  #nn

In [ ]:
# Update Strings

var1 = 'Hello worlds'
print(var1)

var1[:5]

print("Updated String: ", var1 , 'Python')
print("Updated String :- ", var1[:5] + ' Python')

In [ ]:
# String Formating
print("My name is %s and weight is %d kgs! my father name is %s " %
      ("vinod", 70, 'narasimha rao'))

In [ ]:
#Ex :1

Name = input("Enter your name: ")

Age = int(input("Please Enter your age:"))


print(Name)
print(Age)

In [ ]:
P=int(input("Enter the amount invested: "))
t=int(input("Enter the duration in years: "))
r=5
Interest=(P * t * r)/100
Interest

print(P)
print(t)
print(Interest)

In [ ]:
Name = "welcome to python"
print(Name.capitalize())
print(Name.upper())
print(Name.strip())

In [ ]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
y = "o"

count = x.count(y)

# print count
print("The count is:", count)

In [ ]:
# Count number of occurrences of a given substring using start and end
# define string
string = "Python is awesome, isn't it"
string[6]
string[25]

In [ ]:
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 6, 25)
count

# print count
print("The count is:", count)

In [ ]:
# Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

Num = "M234567onica"  # No space in this string
print(Num.isalnum())

In [ ]:
Num.isnumeric()

In [ ]:
Num = "this is string example hi!!!"
Num.isalnum()

In [ ]:
Num = "THIS IS STRING EXAMPLE!!!"
Num.lower()

In [ ]:
Num = "this is string example hi!!!"
Num.upper()

In [ ]:
# The following example shows the usage of replace() method.

reply = "it is string example!!! is really a string"
print(reply.replace("is", "was"))

In [ ]:
print(reply.replace("is", "was", 1))

In [ ]:
# The following example shows the usage of split() method.
A = "Line1-abcdef\nLine2-abc\nLine4-abcd"
print(A.split("\n"))

In [ ]:
novel="Harry Potter is a film series based on the eponymous novels by J. K. Rowling. The series is distributed by Warner Bros. and consists of eight fantasy films, beginning with Harry Potter and the Philosopher's Stone and culminating with Harry Potter and the Deathly Hallows"
novel
novel.split(' ')

In [ ]:














Num = "this is string example 0909090"
Num.isalnum()

Num = "123"
Num.isalnum()
# This method returns true if all characters in the string are alphabetic and there is at least one character, false otherwise.
Num = "this"  # No space & digit in this string
Num.isalpha()


# This method returns true if all characters in the string are digits and there is at least one character, false otherwise.

Num = "123456"  # Only digit in this string
Num.isdigit()

Num = "this is string example!!!"
Num.isdigit()

# his method returns a copy of the string in which all case-based characters have been lowercased.
Num = "THIS IS STRING EXAMPLE!!!"
Num.lower()

# his method returns a copy of the string in which all case-based characters have been Uppercase.
Num = "this is string example!!!"

Num.upper()

In [ ]:
a={'dogs','cats','tigers','lions','parrots'}
b={'parrots','chickens','tigers','goats','chickens'}
c=set(['dogs','cats','parrots'])
allanimals=a|b
print(allanimals)
allanimals=a&b
print(allanimals)
allanimals=a-b
print(allanimals)
allanimals=(a<=b)
print(allanimals)
allanimals=(a>=c)
print(allanimals)
allanimals=a^b
print(allanimals)

In [ ]:
GroupA=set(["Raju","Mani","Mallu","Rani"])
GroupB=set(["Raju","Mani","Mallu","Anil","Kiran","Anup"])
Students=(GroupA<=GroupB)
print(Students)
Students=(GroupA>=GroupB)
print(Students)
Students=(GroupA^GroupB)
print(Students)
ClassA=set(["Andy","Sandy","Sunil","Pooja"])
print(ClassA)
ClassA.add("Anup")
print(ClassA)

In [ ]:
colors1 = {'Red','Green','Blue','Brown','Black'}
print(colors1)
colors2 = {'White','Red','Magenta','Purple','Green'}
print(colors2)
colors3 = set(['Grey','Ochre'])
colors3.add("Pink")
print(colors3)
colors4=(colors1|colors2)
print(colors4)
colors4=(colors1-colors2)
print(colors4)
colors4=(colors1<=colors2)
print(colors4)
colors4=(colors1^colors2)
print(colors4)